<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      body {
        background-color: #03CEA4
      }
      .container {
        min-width: 50vw
        min-height: 50vh;
        margin: 0 auto;
        background-color: #f8feff;
        padding: 50px;
        margin-top: 5em;
        border-radius: 15px;
        box-shadow: 2px 2px 15px rgba(0,0,0,0.2)
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
